In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/marco/Desktop/Power BI/Muestras de Power BI/Dashboard 5 Cinépolis/ComprasDulceria.csv")

# Definir los nuevos precios
precios = {
    "Hotdog": 74,
    "Refresco": 88,
    "Nachos": 96,
    "Palomitas": 94,
    "Chocolate": 43
}

# Función para calcular el nuevo total de compra
def calcular_total(productos):
    items = productos.split(", ")
    return sum(precios[item] for item in items if item in precios)

# Aplicar la función a la columna 'Productos_Adquiridos'
df["Total_Compra"] = df["Productos_Adquiridos"].apply(calcular_total)

# Mostrar las primeras filas con los nuevos cálculos
df.head()

      Fecha  Cliente_ID  Total_Compra       Productos_Adquiridos
0  3/1/2025        6734           162           Hotdog, Refresco
1  3/1/2025        6311           131        Refresco, Chocolate
2  3/1/2025        2184           184           Refresco, Nachos
3  3/1/2025        9666           213  Chocolate, Nachos, Hotdog
4  3/1/2025        3047            74                     Hotdog

In [3]:
df.to_csv("C:/Users/marco/Desktop/ComprasDulceria.csv",index=False)